DB_HOST=localhost
DB_PORT=1234
DB_NAME=daily_lc_db
DB_USER=db_username
DB_PASSWORD=changeme

SLACK_TOKEN=my_slack_token
SLACK_SIGNING_SECRET=my_slack_signing_secret

BACKEND_API_URL=http://host.docker.internal:8000