aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc @ file:///Users/ec2-user/buildout/croot/annotated-doc_1763764186763/work
annotated-types @ file:///opt/miniconda3/conda-bld/annotated-types_1761744956819/work
anyio @ file:///Users/ec2-user/croot/anyio_1773134414870/work
attrs==26.1.0
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161487/work
certifi @ file:///Users/ec2-user/croot/certifi_1779370294849/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832774023/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744819392/work
click @ file:///opt/miniconda3/conda-bld/click_1764332238985/work
dnspython @ file:///opt/miniconda3/conda-bld/dnspython_1763718257960/work
dotenv==0.9.9
email-validator @ file:///Users/ec2-user/buildout/croot/email-validator-meta_1761950483646/work
fastapi @ file:///Users/ec2-user/croot/fastapi-split_1779213478075/work
fastapi-cli @ file:///Users/ec2-user/croot/fastapi-cli_1768373423129/work
frozenlist==1.8.0
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931258926/work
httpcore @ file:///Users/ec2-user/buildout/croot/httpcore_1761937127030/work
httptools @ file:///opt/miniconda3/conda-bld/httptools_1763634745249/work
httpx @ file:///Users/ec2-user/buildout/croot/httpx_1761937519393/work
idna @ file:///Users/ec2-user/buildout/croot/idna_1763763781171/work
Jinja2 @ file:///Users/ec2-user/buildout/croot/jinja2_1761936793528/work
markdown-it-py @ file:///Users/ec2-user/croot/markdown-it-py_1777540559654/work
MarkupSafe @ file:///Users/ec2-user/buildout/croot/markupsafe_1759952215014/work
mdurl @ file:///Users/ec2-user/buildout/croot/mdurl_1759953843084/work
multidict==6.7.1
propcache==0.5.2
psycopg @ file:///Users/ec2-user/croot/psycopg-split_1769677300327/work/psycopg
psycopg-binary==3.3.4
pycparser @ file:///Users/ec2-user/croot/pycparser_1774959675151/work
pydantic @ file:///Users/ec2-user/croot/pydantic_1778683876317/work
pydantic-extra-types @ file:///Users/ec2-user/croot/pydantic-extra-types_1768308430274/work
pydantic-settings @ file:///opt/miniconda3/conda-bld/pydantic-settings_1764165152632/work
pydantic_core @ file:///Users/ec2-user/croot/pydantic-core_1778676817138/work
Pygments @ file:///Users/ec2-user/croot/pygments_1775127041396/work
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010104/work
python-dotenv @ file:///Users/ec2-user/buildout/croot/python-dotenv_1771860713181/work
python-multipart @ file:///Users/ec2-user/croot/python-multipart_1779889650795/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492428/work
requests @ file:///Users/ec2-user/croot/requests_1775066169396/work
rich @ file:///opt/miniconda3/conda-bld/rich_1761820389859/work
rich-toolkit @ file:///Users/ec2-user/croot/rich-toolkit_1768308511823/work
shellingham @ file:///opt/miniconda3/conda-bld/shellingham_1761912203994/work
slackclient==2.9.4
starlette @ file:///Users/ec2-user/croot/starlette-recipe_1773935027372/work
typer @ file:///Users/ec2-user/croot/typer_1778701922361/work
typing-inspection @ file:///Users/ec2-user/buildout/croot/typing-inspection_1761937969604/work
typing_extensions @ file:///Users/ec2-user/buildout/croot/typing_extensions_1759952168048/work
urllib3 @ file:///Users/ec2-user/croot/urllib3_1778536190991/work
uvicorn @ file:///Users/ec2-user/croot/uvicorn-split_1768226435538/work
uvloop @ file:///opt/miniconda3/conda-bld/uvloop_1762175502811/work
watchfiles @ file:///Users/ec2-user/croot/watchfiles_1780040495978/work
websockets @ file:///Users/ec2-user/buildout/croot/websockets_1759964252891/work
yarl==1.24.2
